h1{
  color: red;
  padding: 20 20 20 20;
}

.heading{
  background: black;
  border-color: white;
  border-width: medium;
  border-style: ridge;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.type{
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

body{
  background: url("C:\\Users\\251347\\Downloads\\full.png");
  background-size: cover;
}

.values{
  padding-left: 25%;
}

#submitbutton{
  margin-left: 50px;
}
